<md-subheader class="md-primary">Unread Messages</md-subheader>

<md-card>

    <md-list-item class="md-2-line">
        <img src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-19/s150x150/11881703_888197541277195_1208170298_a.jpg" class="md-avatar" alt="asdasdsa" />
        <div class="md-list-item-text">
            <h3>BláBláBlá</h3>
            <p class="infoPhoto">3 min</p>
            <ng-md-icon class="md-icon-button md-secondary" style="fill: grey" icon="more_vert"></ng-md-icon>
        </div>
    </md-list-item>

    <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">

    <div class="md-actions">
        <p class="infoPhotoText">
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        </p>

        <div layout="row" layout-align="start start">
            <md-button class="md-icon-button md-warn" aria-label="Favorite">
                <ng-md-icon icon="favorite"></ng-md-icon>
                3
            </md-button>
            <md-button class="md-icon-button md-warn" aria-label="Favorite">
                <ng-md-icon icon="comment"></ng-md-icon>
                3
            </md-button>
            <md-button class="md-icon-button md-warn" aria-label="Favorite">
                <ng-md-icon icon="group"></ng-md-icon>
                3
            </md-button>
            <md-button class="md-icon-button md-warn" aria-label="Favorite">
                <ng-md-icon icon="share"></ng-md-icon>
            </md-button>
        </div>
    </div>

</md-card>